@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300&display=swap');
@import './styles/_variables.scss';

:root {
  font-family: 'Google Sans', sans-serif, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color-scheme: light dark;
  color: var(--text-color);
  background-color: var(--background-color);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow-x: hidden;
  -webkit-tap-highlight-color: transparent;
}

img, svg {
  max-width: 100%;
  height: auto;
}
